mixin s-footer-2()
    center.s-footer-2
        table.e-table(cellpadding='0', cellspacing='0', width='100%', border='0')
            tbody
                tr
                    td.s-footer-2__curve-td
                        table.e-table(cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                                tr
                                    td(align="left")
                                        img.s-footer-2__curve(src!=`${config.assets_url}/curve.png`)
                
                tr
                    td.s-footer-2__links-td
                        table.e-table(cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                                tr
                                    td(align="left")
                                        a(href="https://www.afpintegra.pe/")
                                            img.s-footer-2__logo(src!=`${config.assets_url}/logo-integra-blanco.png`)

                                    td(align="right")
                                        table.e-table(cellpadding='0', cellspacing='0', width='100%', border='0')
                                            tbody
                                                tr
                                                    td
                                                    td.s-footer-2__social-network-td()
                                                        a(href="https://www.afpintegra.pe")
                                                            img.s-footer-2__social-network(src!=`${config.assets_url}/social_networks/web.png`)
                                                    td.s-footer-2__social-network-td()
                                                        a(href="https://www.facebook.com/AFPIntegra")
                                                            img.s-footer-2__social-network(src!=`${config.assets_url}/social_networks/facebook.png`)
                                                    td.s-footer-2__social-network-td()
                                                        a(href="https://twitter.com/AFP_Integra")
                                                            img.s-footer-2__social-network(src!=`${config.assets_url}/social_networks/twitter.png`)
                                                    td.s-footer-2__social-network-td()
                                                        a(href="https://www.youtube.com/user/AFPIntegraOficial")
                                                            img.s-footer-2__social-network(src!=`${config.assets_url}/social_networks/youtube.png`)
                                                    td.s-footer-2__social-network-td()
                                                        a(href="https://www.instagram.com/afp.integra")
                                                            img.s-footer-2__social-network(src!=`${config.assets_url}/social_networks/instagram.png`)
                                                    td.s-footer-2__social-network-td()
                                                        a(href="https://www.linkedin.com/company/afp-integra")
                                                            img.s-footer-2__social-network(src!=`${config.assets_url}/social_networks/linkedin.png`)
                                            